@import './scssVariables/variables';
.results {
    min-height: 90.1vh;
    background: $darkBg;
    display: flex;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
}

.results-head {
    margin: 20px 20px 30px 20px;
}