@import './scssVariables/variables';
.results {
    height: 90.1vh;
    background: $darkBg;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    overflow: auto;
}

.results-head {
    display: flex;
    justify-content: center;
    margin: 20px 20px 30px 20px;
}