@import '../../scssVariables/variables';
.landing {
    @include flexCenter(column);
    height: 90.1vh;
    background: $primaryBackground;
    .landing-form {
        height: 300px;
        background: $secondaryBackground;
        padding: 30px;
        margin-bottom: 100px;
        color: white;
        @include flexCenter(column);
        border-radius: 10px;
        .landing-title {
            max-width: 500px;
            min-width: 300px;
            margin: 20px;
            text-align: center;
        }
        .description {
            font-weight: 400;
            margin-bottom: 30px;
            max-width: 530px;
            min-width: 300px;
        }
        .search {
            display: flex;
            align-items: center;
            .search-bar {
                margin: 20px;
            }
        }
    }
}