@import '../../scssVariables/variables';
.landing {
    @include flexCenter(column);
    height: 90.1vh;
    background: $darkBg;
    .landing-form {
        @media (max-width: $smallBreak) {
            border: none;
            background: transparent;
            box-shadow: none;
        }
        ;
        height: 300px;
        padding: 50px;
        margin-bottom: 100px;
        color: white;
        max-width: 35%;
        background: $midGrey;
        box-shadow: 0 3px 20px 5px #00000031;
        @include flexCenter(column);
        border-radius: 10px;
        .landing-title {
            max-width: 500px;
            min-width: 300px;
            margin: 20px;
            text-align: center;
        }
        .description {
            @media (max-width: 889px) {
                font-size: 1.8rem;
            }
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            font-weight: 400;
            margin-bottom: 30px;
            max-width: 530px;
            min-width: 300px;
            font-size: 2rem;
            text-align: center;
        }
        .search {
            display: flex;
            align-items: center;
            .search-bar {
                @media (max-width: $largeBreak) {
                    width: 180px;
                    justify-content: center;
                }
                ;
                margin: 20px;
                border-radius: 50px;
                border: none;
                height: 30px;
                width: 360px;
                padding: 10px 30px;
                font-size: 1rem;
                &::placeholder {
                    opacity: 0.7;
                }
                ;
                &:focus {
                    box-shadow: 0 1px 10px 5px #00000083;
                }
                ;
                &:hover {
                    box-shadow: 0 1px 10px 5px #00000083;
                }
            }
            ;
        }
    }
}

.search-button-landing {
    height: 30px;
    &:hover {
        transform: scale(1.08);
        transition: 1ms;
    }
}

p+p {
    margin-left: 10px;
}

p {
    font-weight: 300;
}

.movie {
    font-weight: 500;
}

.tv {
    font-weight: 500;
}