@import '../../scssVariables/variables';
.landing {
    @include flexCenter(column);
    height: 90.1vh;
    background: $darkBg;
    .landing-form {
        height: 300px;
        padding: 50px;
        margin-bottom: 100px;
        color: white;
        width: 50%;
        background: $midGrey;
        box-shadow: 0 3px 20px 5px #00000031;
        @include flexCenter(column);
        border-radius: 10px;
        .landing-title {
            max-width: 500px;
            min-width: 300px;
            margin: 20px;
            text-align: center;
        }
        .description {
            font-weight: 400;
            margin-bottom: 30px;
            max-width: 530px;
            min-width: 300px;
            font-size: 2rem;
            text-align: center;
        }
        .search {
            display: flex;
            align-items: center;
            .search-bar {
                margin: 20px;
                border-radius: 50px;
                border: none;
                height: 30px;
                width: 380px;
                padding: 10px 10px 10px 30px;
                font-size: 1rem;
            }
            ;
            .search-bar:focus {
                box-shadow: 0 1px 3px 5px #00000083;
            }
            ;
            .search-bar:hover {
                box-shadow: 0 1px 3px 5px #00000083;
            }
        }
    }
}