@import './scssVariables/variables';
.result-media {
    height: 350px;
    display: flex;
    width: 450px;
    max-width: 650px;
    margin: 10px;
    padding: 20px;
    background: $midGrey;
    color: white;
    border-radius: 10px;
    margin-bottom: 20px;
    align-items: center;
    .media-title {
        font-size: 2rem;
        text-overflow: ellipsis;
        width: 350px;
        white-space: nowrap;
        overflow: hidden;
    }
    .poster {
        height: 300px;
        width: 200px;
        &:hover {
            cursor: default;
        }
    }
}

.add-to-playlist {
    width: 105px;
    &:hover {
        box-shadow: 0 1px 10px 5px #00000031;
    }
}

.mapped-locations-result {
    display: flex;
}