@import './scssVariables/variables';
.result-media {
    @media (max-width: $smallBreak) {
        max-height: 390px;
    }
    ;
    max-height: 370px;
    position: relative;
    display: flex;
    width: 470px;
    margin: 20px;
    padding: 20px;
    background: $midGrey;
    color: white;
    border-radius: 10px;
    align-items: center;
    box-shadow: 0 3px 10px 5px #0000001f;
    &:hover {
        box-shadow: 0 3px 20px 5px #00000031;
        transition: 0.25s ease-in-out;
        .poster {
            transform: scale(1.02);
            transition: 0.15s ease-in-out;
        }
    }
    .media-title {
        @media (max-width: $smallBreak) {
            width: 80%;
            margin-top: 20px;
            margin-bottom: 20px;
        }
        color: $primaryText;
        font-size: 1.7rem;
        letter-spacing: -1px;
        word-spacing: -2px;
        font-weight: 500;
        margin-bottom: 10px;
        text-overflow: ellipsis;
        width: 400px;
        // white-space: nowrap;
        // overflow: hidden;
    }
    .poster {
        @media (max-width: $smallBreak) {
            height: 270px;
            width: 180px;
        }
        @media (max-width: 400px) {
            height: 240px;
            width: 160px;
        }
        ;
        object-fit: cover;
        height: 300px;
        width: 200px;
        // box-shadow: 0 3px 20px 5px #00000083; //31 or 83 opacity?
        box-shadow: 0 3px 10px 2px #00000083; //31 or 83 opacity?
        &:hover {
            cursor: default;
        }
    }
}

.add-image-text {
    display: flex;
    align-items: center;
    position: absolute;
    right: 15px;
    top: 10px;
    &:hover {
        cursor: pointer;
        opacity: 0.7;
    }
}

.add-to-playlist {
    height: 20px;
    margin-top: 2px;
    margin-right: 2px;
    filter: invert(100%);
}

.mapped-locations-result {
    display: flex;
    flex-direction: column;
    margin-left: 0px;
}

.released-available-result {
    @media (max-width: 500px) {
        margin-left: -150px;
    }
    @media (max-width: 430px) {
        margin-left: -100px;
    }
    @media (max-width: 400px) {
        margin-left: -70px;
    }
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    margin-left: -220px;
}

.title-img {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.available-text-result {
    font-size: 1.3rem;
    font-weight: 500;
    margin-left: 0;
    width: 121px;
}

.year {
    font-size: 1.3rem;
    font-weight: 500;
    margin-bottom: 10px;
}

.hidden {
    display: none;
}