@import './scssVariables/variables';
.result-media {
    // height: 350px;
    position: relative;
    display: flex;
    width: 470px;
    margin: 20px;
    padding: 20px;
    background: $midGrey;
    color: white;
    border-radius: 10px;
    align-items: center;
    box-shadow: 0 3px 20px 5px #00000031;
    &:hover {
        transform: scale(1.01);
        transition: 0.05s ease-in-out;
    }
    .media-title {
        color: $primaryText;
        font-size: 1.7rem;
        letter-spacing: -1px;
        word-spacing: -2px;
        font-weight: 500;
        margin-bottom: 10px;
        text-overflow: ellipsis;
        width: 400px;
        // white-space: nowrap;
        // overflow: hidden;
    }
    .poster {
        height: 300px;
        width: 200px;
        &:hover {
            cursor: default;
        }
    }
}

.add-image-text {
    display: flex;
    align-items: center;
    position: absolute;
    right: 15px;
    top: 10px;
    &:hover {
        cursor: pointer;
        opacity: 0.7;
    }
}

.add-to-playlist {
    height: 20px;
    margin-top: 2px;
    margin-right: 2px;
    filter: invert(100%);
}

.mapped-locations-result {
    display: flex;
    flex-direction: column;
    margin-left: 0px;
}

.released-available-result {
    display: flex;
    flex-direction: column;
    margin-left: -180px;
}

.title-img {
    display: flex;
    flex-direction: column;
}

.available-text-result {
    font-size: 1.3rem;
    font-weight: 500;
    margin-left: 0;
    width: 121px;
}

.year {
    font-size: 1.3rem;
    font-weight: 500;
    margin-bottom: 10px;
}