@import './scssVariables/variables';
.playlist-media {
    height: 350px;
    display: flex;
    width: 50%;
    flex-direction: row;
    padding: 20px;
    background: $midGrey;
    color: white;
    border-radius: 10px;
    margin-left: 30%;
    margin-bottom: 20px;
    align-items: center;
    // text-align: center;
    .playlist-title {
        font-size: 2rem;
        text-overflow: ellipsis;
        width: 300px;
        white-space: nowrap;
        overflow: hidden;
    }
    .poster {
        height: 300px;
        width: 200px;
    }
}

.mapped-locations {
    display: flex;
    flex-direction: column;
}

.star-rating {
    display: flex;
}

.remove {
    width: 100px;
    &:hover {
        box-shadow: 0 1px 10px 5px #00000083;
    }
}

.empty-star {
    height: 20px;
    &:hover {
        filter: sepia(60%) saturate(3759%) hue-rotate(346deg) brightness(95%) contrast(101%);
    }
}

.filled-star {
    filter: sepia(60%) saturate(3759%) hue-rotate(346deg) brightness(95%) contrast(101%);
    height: 20px;
}

.Netflix {
    background: #e50914;
    padding: 5px;
    border-radius: 10px;
    margin: 5px 0 5px 0;
}

.Amazon {
    background: #ff9900;
    padding: 5px;
    border-radius: 10px;
    margin: 5px 0 5px 0;
}