@import './scssVariables/variables';
.playlist-media-even {
    height: 350px;
    display: flex;
    width: 50%;
    padding: 20px;
    background: rgb(70, 77, 88);
    color: white;
    border-radius: 10px;
    margin-bottom: 20px;
    align-items: center;
    .playlist-title {
        font-size: 2rem;
        text-overflow: ellipsis;
        width: 200px;
        white-space: nowrap;
        overflow: hidden;
    }
    .poster {
        height: 150px;
        width: 100px;
        margin-right: 20px;
        &:hover {
            cursor: default;
        }
    }
}

.playlist-media-odd {
    height: 350px;
    display: flex;
    width: 50%;
    padding: 20px;
    background: $midGrey;
    color: white;
    border-radius: 10px;
    margin-bottom: 20px;
    align-items: center;
    .playlist-title {
        font-size: 2rem;
        text-overflow: ellipsis;
        width: 300px;
        white-space: nowrap;
        overflow: hidden;
    }
    .poster {
        height: 150px;
        width: 100px;
        margin-right: 20px;
        &:hover {
            cursor: default;
        }
    }
}

.remove {
    width: 80px;
    color: white;
    background: transparent !important;
}

.mapped-locations {
    display: flex;
}

.star-rating {
    display: flex;
}

.empty-star {
    height: 20px;
    &:hover {
        filter: sepia(60%) saturate(3759%) hue-rotate(346deg) brightness(95%) contrast(101%);
    }
}

.filled-star {
    filter: sepia(60%) saturate(3759%) hue-rotate(346deg) brightness(95%) contrast(101%);
    height: 20px;
}

.Netflix {
    background: #e50914;
    padding: 7px;
    border-radius: 5px;
    margin: 5px 0 5px 0;
}

.Amazon {
    background: #ff9900;
    padding: 7px;
    border-radius: 5px;
    margin: 5px 0 5px 0;
}

.title-star-released-available {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}