@import './scssVariables/variables';
.playlist-media-even {
    @media (max-width: $smallBreak) {
        width: 85%;
    }
    display: flex;
    box-shadow: 0 3px 20px 5px #00000031;
    position: relative;
    width: 510px;
    padding: 20px;
    background: rgb(70, 77, 88);
    color: white;
    border-radius: 10px;
    margin-bottom: 20px;
    align-items: center;
    &:hover {
        .poster {
            transform: scale(1.05);
            transition: 0.05s ease-in-out;
        }
    }
    .playlist-title {
        @media (max-width: $smallBreak) {
            margin-top: 10px;
        }
        font-size: 1.8rem;
        font-weight: 500;
        margin-bottom: 10px;
        text-overflow: ellipsis;
        max-width: 330px;
        // white-space: nowrap;
        // overflow: hidden;
        color: $primaryText;
    }
    .poster {
        height: 180px;
        width: 120px;
        margin-right: 20px;
        box-shadow: 0 3px 20px 5px #00000083; //opacity 83 or 31?
        // -webkit-filter: brightness(100%);
        &:hover {
            cursor: default;
            // -webkit-filter: brightness(50%);
        }
    }
}

.playlist-media-odd {
    @media (max-width: $smallBreak) {
        width: 85%;
    }
    display: flex;
    box-shadow: 0 3px 20px 5px #00000031;
    position: relative;
    width: 510px;
    padding: 20px;
    background: $midGrey;
    color: white;
    border-radius: 10px;
    margin-bottom: 20px;
    align-items: center;
    &:hover {
        .poster {
            transform: scale(1.05);
            transition: 0.05s ease-in-out;
        }
    }
    .playlist-title {
        @media (max-width: $smallBreak) {
            margin-top: 10px;
        }
        font-size: 1.8rem;
        font-weight: 500;
        text-overflow: ellipsis;
        max-width: 330px;
        // white-space: nowrap;
        // overflow: hidden;
        color: $primaryText;
    }
    .poster {
        height: 180px;
        width: 120px;
        margin-right: 20px;
        // box-shadow: 0 3px 20px 5px #00000083; //opacity 83 or 31?
        box-shadow: 0 3px 10px 2px #00000083; //31 or 83 opacity?
        // -webkit-filter: brightness(100%);
        &:hover {
            cursor: default;
            // -webkit-filter: brightness(50%);
        }
    }
}

.remove {
    height: 20px;
    display: flex;
    position: absolute;
    right: 15px;
    top: 10px;
    background: transparent !important;
    &:hover {
        opacity: 0.7;
    }
}

.remove-img {
    height: 20px;
    margin-top: 2px;
    margin-right: 2px;
    filter: invert(100%)
}

.remove-text {
    &:hover {
        cursor: pointer;
    }
}

.mapped-locations {
    display: flex;
    @media (max-width: $smallBreak) {
        flex-wrap: wrap;
    }
}

.star-rating {
    display: flex;
    margin-bottom: 10px;
}

.empty-star {
    height: 20px;
    &:hover {
        filter: sepia(60%) saturate(3759%) hue-rotate(346deg) brightness(95%) contrast(101%);
    }
}

.filled-star {
    filter: sepia(60%) saturate(3759%) hue-rotate(346deg) brightness(95%) contrast(101%);
    height: 20px;
}

.Netflix {
    background: #e50914;
    padding: 7px;
    border-radius: 5px;
    margin: 5px;
    &:hover {
        opacity: 0.8;
    }
}

.Amazon {
    background: #ff9900;
    padding: 7px;
    border-radius: 5px;
    margin: 5px;
    &:hover {
        opacity: 0.8;
    }
}

.available-text {
    font-size: 1.2rem;
    font-weight: 500;
}

.title-star-released-available {
    max-width: 350px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.year-playlist {
    display: flex;
    font-weight: 500;
    margin-bottom: 10px;
}

.year-number-playlist {
    margin-left: 5px;
}

.my-rating {
    margin-right: 5px;
    font-weight: 500;
}