@import '../../scssVariables/variables';
.login-sign-up {
    @include flexCenter(column);
    height: 99.1vh;
    background: $darkBg;
    .login-form-container {
        background: $midGrey;
        padding: 10px 30px 30px 30px;
        border-radius: 10px;
        box-shadow: 0 3px 20px 5px #00000031;
    }
    .x-container {
        display: flex;
        justify-content: flex-end;
    }
    .container {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        margin-bottom: 20px;
    }
    .x {
        width: 40px;
        color: $primaryText;
        font-size: 1.3rem;
        background: $midGrey;
        margin-right: -10px;
        margin-bottom: -5px;
        ;
    }
    .login-inputs {
        display: flex;
        flex-direction: column;
    }
    ;
    .auth-email {
        margin: 10px;
        border-radius: 50px;
        border: none;
        height: 25px;
        width: 380px;
        padding: 10px 10px 10px 30px;
        font-size: 1rem;
        &:hover {
            box-shadow: 0 1px 10px 5px #00000083;
        }
        ;
        &:focus {
            box-shadow: 0 1px 10px 5px #00000083;
        }
        ;
    }
    ;
    .auth-password {
        margin: 10px;
        border-radius: 50px;
        border: none;
        height: 25px;
        width: 380px;
        padding: 10px 10px 10px 30px;
        font-size: 1rem;
        &:hover {
            box-shadow: 0 1px 10px 5px #00000083;
        }
        ;
        &:focus {
            box-shadow: 0 1px 10px 5px #00000083;
        }
        ;
    }
    ;
    .login-buttons {
        display: flex;
        justify-content: center;
        width: 100%;
        margin-top: 15px;
        .login {
            background: $brand;
            width: 100px;
            &:hover {
                box-shadow: 0 1px 10px 5px #00000036;
            }
            ;
        }
        .register {
            width: 100px;
            background: $midGrey;
            color: $brand;
            border: 1px solid $brand;
            &:hover {
                box-shadow: 0 1px 10px 5px #00000036;
            }
            ;
        }
    }
}

.logo-login {
    color: $brand;
    position: absolute;
    left: 5px;
    top: 5px;
    margin-left: 25px;
    margin-top: 5px;
    &::before {
        content: 'watch';
        font-weight: 400;
    }
}

.login-register-title {
    color: white;
}