@import './scssVariables/variables';
.playlist {
    display: flex;
    flex-direction: column;
    height: 90.1vh;
    background: $darkBg;
    padding-top: 30px;
    overflow: auto;
    max-width: 90%;
}