@import "./scssVariables/variables";
.playlist {
    @media (max-width: $smallBreak) {
        padding-top: 0;
    }
    @media (max-width: 430px) {
        height: 90.1vh;
    }
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 90.1vh;
    background: $darkBg;
    padding-top: 30px;
    overflow: auto;
    position: relative;
}

.playlist-head {
    @media (max-width: $smallBreak) {
        margin-bottom: 15px;
    }
    margin-bottom: 30px;
}

.footer-playlist {
    padding: 20px;
}

.loading-playlist {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 75vh;
}