@import './scssVariables/variables';
.landing-header {
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: $darkBg;
    padding: 0 30px 0 30px;
}

.logo {
    height: 60px;
    text-decoration: none;
    color: $brand;
}

img:hover {
    cursor: pointer;
}

.logged-in {
    display: flex;
    .logged-in-header {
        text-decoration: none;
        color: white;
    }
}

.logout {
    height: 30px;
}

.search-button-landing {
    height: 30px;
    filter: invert(100%)
}

.header {
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: $darkBg;
    padding: 0 30px 0 30px;
    position: fixed;
    width: 97%;
    z-index: 1;
    ;
    .search {
        @include flexCenter(row);
        .search-button-header {
            height: 30px;
        }
        ;
        .search-bar-header {
            margin-right: 20px;
        }
    }
}

;
.not-logged-in-link {
    text-decoration: none;
    color: white;
}

.not-logged-in::before {
    content: 'Register ';
    font-weight: 300;
}

input:focus,
textarea:focus {
    outline: none;
}