$primaryBackground: rgb(108, 108, 173);
$primaryText: rgb(58, 57, 57);
$primaryButton: rgb(72, 72, 180);
@mixin flexCenter($direction) {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: $direction;
}