$primaryBackground: rgb(108, 108, 173);
$secondaryBackground: rgb(72, 72, 180);
$primaryText: rgb(100, 78, 78);
@mixin flexCenter($direction) {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: $direction;
}