    @import './components/Header/_header.scss';
    @import './components/Playlist/_playlist.scss';
    @import './components/PlaylistMedia/_playlistmedia.scss';
    @import './components/ResultMedia/_resultmedia.scss';
    @import './components/Results/_results.scss';
    @import './components/LoginSignUp/loginsignup.scss';
    @import './components//Landing/landing';
    @import './scssVariables/_variables';
    * {
        margin: 0;
        padding: 0;
    }
    
    body {
        overflow: hidden;
        height: 100vh;
    }
    
    html {
        background: $darkBg;
    }
    
    .App {
        color: $primaryText;
        button {
            border: none;
            margin: 10px;
            padding: 10px 10px 10px 10px;
            border-radius: 50px;
            background: $accent;
            cursor: pointer;
        }
        ;
        input:focus,
        textarea:focus {
            outline: none;
        }
    }
    
    ;
    button:focus,
    textarea:focus {
        outline: none;
    }
    
    .dashboard::-webkit-scrollbar {
        width: 10px;
        background: lightgrey;
        height: 50px;
    }
    
     ::-webkit-scrollbar {
        width: 10px;
    }
    /* Track */
    
    //  ::-webkit-scrollbar-track {
    //     // background: #f1f1f1;
    // }
    // /* Handle */
     ::-webkit-scrollbar-thumb {
        background: $accent;
        border-radius: 10px;
    }
    /* Handle on hover */
    
     ::-webkit-scrollbar-thumb:hover {
        background: rgb(102, 101, 101);
    }