    @import './components/Header/_header.scss';
    @import './components/Playlist/_playlist.scss';
    @import './components/PlaylistMedia/_playlistmedia.scss';
    @import './components/ResultMedia/_resultmedia.scss';
    @import './components/Results/_results.scss';
    @import './components/LoginSignUp/loginsignup.scss';
    @import './components//Landing/landing';
    @import './scssVariables/_variables';
    * {
        margin: 0;
        padding: 0
    }
    
    body {
        height: 100vh;
    }
    
    html {
        background: $darkBg;
    }
    
    .App {
        color: $primaryText;
        button {
            border: none;
            width: 75px;
            margin: 10px;
            padding: 10px 10px 10px 10px;
            border-radius: 50px;
            background: $accent;
        }
        ;
        input:focus,
        textarea:focus {
            outline: none;
        }
    }
    
    ;
    button:focus,
    textarea:focus {
        outline: none;
    }